<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag "jquery.gridster.min" %>

    <link rel="shortcut icon" href="/images/favicon.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/jquery.gridster.min.js"></script>
    <script src="/javascripts/jquery.sticky.js"></script>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

  <script>
    $(function() {
      var setupLayout = function() {
        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        if (width > 640) {
          $(".grid").gridster({
            widget_margins: [30, 30],
            widget_base_dimensions: [150, 195]
          });
        }
      }

      setupLayout();

      $(window).on('resize', function(){
        setupLayout();
      });

      $('.nav').sticky({ topSpacing: 0 });

      $('.nav a').on('click', function(e) {
        e.preventDefault();

        $('html, body').animate({
          scrollTop: $($(this).attr('href')).offset().top - 60
        }, 1000);
      });

      $('.grid li').on('click', function(e) {
        e.preventDefault();

        $('.overlay').html($(this).html());
        $('.overlay').addClass('active');
        $('.overlay video').attr('autoplay', true);
      });

      $('.overlay').on('click', function(e) {
        e.preventDefault();

        $('.overlay').removeClass('active');
        $('.overlay video').attr('autoplay', false);
        setTimeout(function() {
          $('.overlay').html(' ');
        }, 1000);
      });

      $(window).on('scroll', function() {
        $('.portfolio-pieces').each(function() {
          if ($(window).scrollTop() >= $(this).offset().top - 200) {
            var id = $(this).attr('id');
            $('.nav a').removeClass('active');
            $('.nav a[href="#'+ id +'"]').addClass('active');
          }
        });

        if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
          $('.nav a').removeClass('active');
          $('.nav a[href="#figure-drawing"]').addClass('active');
        }
      });
    });
  </script>
</html>
